@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #ffffff;
    --fg: #000000;
    --grey: #ebebeb;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: var(--font-weight);
    font-variation-settings: var(--type-ramp-base-font-variations);
}

[data-theme="dark"] {
    --bg: #000000;
    --fg: #ffffff;
    --grey: #1b1b1b;
}

[data-theme="light"] {
    --bg: #ffffff;
    --fg: #000000;
    --grey: #ebebeb;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    margin: 0 2em;
}

::selection {
    color: var(--bg);
    background-color: var(--fg);
}
