@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: black;
    margin: 15px;
}

::selection {
    color: black;
    background-color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-foreground-rest);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-foreground-hover);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--fill-color);
}

::-webkit-scrollbar-corner {
    display: none;
}